<!-- begin contact-us -->
<div class="contact-us" id="contacts">
  <!-- begin container -->
  <div class="container">
    <h2 class="h2 contact-us__h2">
      CONTACT LAKEPOINT CREST
    </h2>
    <form class="form">
      <!-- begin form__input-wrapper -->
      <div class="form__input-wrapper">
        <input class="form__input" type="text" name="name" placeholder="NAME*">
        <input class="form__input" type="text" name="E-mail" placeholder="E-MAIL*">
        <input class="form__input" type="text" name="phone" placeholder="NUMBER*">
      </div>
      <!-- end form__input-wrapper -->
      <textarea class="form__textarea" name="message" placeholder="ENTER MESSAGE*"></textarea>
      <button class="form__btn btn" type="submit">send</button>
    </form>
    <p class="contact-adress">3302 LAKECREST BLVD. <br>
      ROUND HILL, VA <br>
      55555
    </p>
    <a class="contact-mail" href="mailto:">info@akepointcrest.com</a>
    <br>
    <a class="contact-phone" href="tel:880000000">8-800-000-00</a>
  </div>
  <!-- end container -->
</div>
<!-- end contact-us -->