<footer class="footer">
	<!-- begin container -->
	<div class="container footer__container">
		<a class="footer__logo logo2" href="#" style="background-image: url('img/Logo2.png');"></a>
		<div class="footer__wrapper">
			<a class="contact-phone footer__contact-phone" href="tel:880000000">8-800-000-00</a>
			<a class="contact-mail footer__contact-mail" href="mailto:">info@akepointcrest.com</a>
			<div class="socials footer__socials">
				<a class="tw" href="#"></a>
				<a class="f" href="#"></a>
			</div>
		</div>
	</div>
	<!-- end container -->
</footer>