<!--begin gallery-->
<div class="gallery">
	<!--begin container-->
	<div class="container">
		<h2 class="h2 gallery__h2">A view of lakepoint crest</h2>
		<div id="gallery__tabs">
			<ul>
				<li><a href="#tabs-1">Nunc tincidunt</a></li>
				<li><a href="#tabs-2">Proin dolor</a></li>
				<li><a href="#tabs-3">Aenean lacinia</a></li>
			</ul>
			<div id="tabs-1">

			</div>
			<div id="tabs-2">

			</div>
			<div id="tabs-3">

			</div>
		</div>
	</div>
	<!--end container-->
</div>
<!--end gallery-->
