<header class="header">
	<!--begin container-->
	<div class="container">
		<div class="header__wrapper">
			<a class="logo header__logo" href="#" style="background-image: url('img/logo.jpg');">
			</a>
			<h1 class="h1 header__h1">LAKEPOINT<br><span>CREST</span></h1>
		</div>
		<!--begin menu-->
		<div class="menu-btn"><div></div></div>
		<ul class="header__menu menu">
			<li class="menu__item"><a class="menu__link link-js" href="#ss">About</a></li>
			<li class="menu__item"><a class="menu__link link-js" href="#">Homes</a>
				<ul class="header__sub-menu sub-menu">
					<li ><a class="sub-menu__link sub-link-js" data-tab-index="0" href="#">The Churchill</a></li>
					<li ><a class="sub-menu__link sub-link-js" data-tab-index="1" href="#">The Lee</a></li>
					<li ><a class="sub-menu__link sub-link-js" data-tab-index="2" href="#">The Long Street</a></li>
					<li ><a class="sub-menu__link sub-link-js" data-tab-index="3" href="#">The Mosby</a></li>
					<li ><a class="sub-menu__link sub-link-js" data-tab-index="4" href="#">The Peckett</a></li>
				</ul>
			</li>
			<li class="menu__item"><a class="menu__link link-js" href="#gal">Gallery</a>
			
			</li>
			<li class="menu__item"><a class="menu__link link-js" href="#community">Community</a></li>
			<li class="menu__item"><a class="menu__link link-js" href="#">Green</a></li>
			<li class="menu__item"><a class="menu__link link-js" href="#contacts">Contact</a></li>
			<li class="menu__item"><a class="menu__link link-js" href="#about-the-build">About the Builder</a></li>
		</ul>
		<!--end menu-->
	</div>
	<!--end container-->
</header>