<!-- begin articles -->
<div class="articles" id="about-the-build">
  <!-- begin container -->
  <div class="container">
    <h2 class="h2 articles__h2">
      lake point crest`s green promise
    </h2>
    <div class="article-block">
      <div class="article-block__text">
        <h3 class="h3 article-block__h3"> header 1</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptas enim vero sequi quas laudantium doloremque. Rerum voluptate architecto error consequatur accusantium culpa! Possimus mollitia cupiditate quia placeat non ipsum, nostrum dignissimos inventore voluptate deserunt enim unde perferendis, incidunt iusto debitis voluptatem aperiam obcaecati esse quaerat provident saepe sunt dicta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam minima perspiciatis, quam commodi ab quis voluptatibus optio eligendi voluptate. Debitis, error sit dolor ut cumque impedit dolore harum accusantium voluptate rem. Vitae tempora et corporis esse, qui amet perferendis vel voluptatibus ut nemo laboriosam quidem provident illo obcaecati autem sit. 
        </p>
      </div>
      <div class="article-block__img" style="background-image: url('img/last1.jpg');">
      </div>
    </div>
    <div class="article-block">
     <div class="article-block__img" style="background-image: url('img/last2.jpg');">
     </div>
      <div class="article-block__text">
       <h3 class="h3 article-block__h3"> header 2</h3>
       <p >
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptas enim vero sequi quas laudantium doloremque. Rerum voluptate architecto error consequatur accusantium culpa! Possimus mollitia cupiditate quia placeat non ipsum, nostrum dignissimos inventore voluptate deserunt enim unde perferendis, incidunt iusto debitis voluptatem aperiam obcaecati esse quaerat provident saepe sunt dicta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos maiores rerum soluta ad sequi tenetur veritatis sit illum et ut, illo, repudiandae expedita quis officiis delectus nihil ducimus veniam alias harum velit. Fuga et quidem praesentium consequatur quam sit culpa expedita, tenetur, quas ratione debitis non atque minima, provident! Maxime.
       </p>
     </div>

   </div>
 </div>
 <!-- end container -->
</div>
<!-- end articles -->