<!--begin second-screen-->
<div class="second-screen">
	<div class="container">
		<h2 class="h2 second-screen__h2">THE LAKEPOINT CREST AT ROUND HILL, VA</h2>
		<p class="article second-screen__article">
			Nullam porttitor mauris quis purus aliquet rhoncus. Cras convallis justo sit amet ipsum viverra vestibulum. Vestibulum enim elit, sodales quis urna a, varius molestie neque. Nunc egestas euismod erat, in pharetra erat tempus non. Proin vel tempus leo. Proin mollis tincidunt magna sit amet dictum. Vivamus facilisis imperdiet sem, non fringilla mi sagittis et. Pellentesque id justo at justo vehicula gravida. Praesent ac gravida diam. In elementum felis eget iaculis ullamcorper. Curabitur in elementum dolor. Pellentesque ullamcorper lorem hendrerit nisi porta dignissim.
		</p>
		<div class="youtube-block second-screen__youtube-block" style="background-image: url('img/youtube-block-bg.jpg');">
			<a  class="youtube-block__inner" href="#" target="_blank">
				<span>A Special Message From</span>
				<strong>LAKEPOINT <span>CREST</span></strong>
			</a >
		</div>
	</div>
</div>
<!--end second-screen-->
