<!--begin sidebar-->
<div class="sidebar">
	<!--begin logo-->
	<a class="logo" href="#" style="background-image: url('img/logo.jpg');">
	</a>
	<!--end logo-->
	<h1 class="h1 sidebar__h1">LAKEPOINT<br><span>CREST</span></h1>
	<!--begin menu-->
	<ul class="menu sidebar__menu">
		<li ><a class="menu__link link-js" href="#ss">About</a></li>
		<li ><a class="menu__link link-js" href="#">Homes</a>
			<ul class="sidebar__sub-menu sub-menu">
				<li class=" sub-menu__item "><a class="sub-menu__link sub-link-js" data-tab-index="0" href="#">The Churchill</a></li>
				<li class=" sub-menu__item"><a class="sub-menu__link sub-link-js" data-tab-index="1" href="#">The Lee</a></li>
				<li class=" sub-menu__item"><a class="sub-menu__link sub-link-js" data-tab-index="2" href="#">The Long Street</a></li>
				<li class=" sub-menu__item"><a class="sub-menu__link sub-link-js" data-tab-index="3" href="#">The Mosby</a></li>
				<li class=" sub-menu__item"><a class="sub-menu__link sub-link-js" data-tab-index="4" href="#tabs-5">The Peckett</a></li>
			</ul>
		</li>
		<li ><a class="menu__link link-js" href="#gal">Gallery</a></li>
		<li ><a class="menu__link link-js" href="#community">Community</a></li>
		<li ><a class="menu__link link-js" href="#">Green</a></li>
		<li ><a class="menu__link link-js" href="#contacts">Contact</a></li>
		<li ><a class="menu__link link-js" href="#about-the-build">About the Builder</a></li>
	</ul>
	<!--end menu-->
	<div class="sidebar__footer">
		<a class="logo2 sidebar__logo2" href="#" style="background-image: url('img/Logo2.png');"></a>
		<div >
			<a class="contact-phone " href="tel:880000000">8-800-000-00</a>
			<a class="contact-mail sidebar__contact-phone" href="mailto:">info@akepointcrest.com</a>
			<div class="socials sidebar__socials">
				<a class="tw" href="#"></a>
				<a class="f" href="#"></a>
			</div>
		</div>
	</div>
</div>
<!--end sidebar-->
