<!--begin sidebar-->
<div class="sidebar">
	<!--begin logo-->
	<a class="logo" href="#" style="background-image: url('img/logo.jpg');">
	</a>
	<!--end logo-->
	<h1 class="h1">LAKEPOINT<br><span>CREST</span></h1>
	<!--begin menu-->
	<ul class="menu">
		<li class="menu__item "><a href="#">About</a></li>
		<li class="menu__item"><a href="#">Homes</a>
			<ul class="sub-menu">
			<li class=" sub-menu__item "><a href="#">The Churchill</a></li>
			<li class=" sub-menu__item"><a href="#">The Lee</a></li>
			<li class=" sub-menu__item"><a href="#">The Long Street</a></li>
			<li class=" sub-menu__item"><a href="#">The Mosby</a></li>
			<li class=" sub-menu__item"><a href="#">The Peckett</a></li>
			</ul>
		</li>
		<li class="menu__item"><a href="#">Gallery</a></li>
		<li class="menu__item"><a href="#">Community</a></li>
		<li class="menu__item"><a href="#">Green</a></li>
		<li class="menu__item"><a href="#">Contact</a></li>
		<li class="menu__item"><a href="#">About the Builder</a></li>
	</ul>
	<!--end menu-->

</div>
<!--end sidebar-->
