<!--begin sidebar-->
<div class="sidebar">
	<!--begin logo-->
	<a class="logo" href="#" style="background-image: url('img/logo.jpg');">
	</a>
	<!--end logo-->
	<h1 class="h1 sidebar__h1">LAKEPOINT<br><span>CREST</span></h1>
	<!--begin menu-->
	<ul class="menu sidebar__menu">
		<li class="menu__item"><a href="#ss">About</a></li>
		<li class="menu__item"><a href="#">Homes</a>
			<ul class="sidebar__sub-menu sub-menu">
				<li class=" sub-menu__item "><a href="#tabs-1">The Churchill</a></li>
				<li class=" sub-menu__item"><a href="#tabs-2">The Lee</a></li>
				<li class=" sub-menu__item"><a href="#tabs-3">The Long Street</a></li>
				<li class=" sub-menu__item"><a href="#tabs-4">The Mosby</a></li>
				<li class=" sub-menu__item"><a href="#tabs-5">The Peckett</a></li>
			</ul>
		</li>
		<li class="menu__item"><a href="#gal">Gallery</a></li>
		<li class="menu__item"><a href="#community">Community</a></li>
		<li class="menu__item"><a href="#">Green</a></li>
		<li class="menu__item"><a href="#contacts">Contact</a></li>
		<li class="menu__item"><a href="#about-the-build">About the Builder</a></li>
	</ul>
	<!--end menu-->
	<div class="sidebar__footer">
{% include "partials/_footer-content.html" %}
	</div>
</div>
<!--end sidebar-->
