{% set 
	tabs = [
	{
	id: 'tabs-1',
	name:	'The Churchill',
	article : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque bibendum convallis. Sed sollicitudin purus sed tempus pharetra. Vivamus id felis luctus, iaculis arcu eu, adipiscing arcu. Donec gravida mi convallis volutpat aliquet. Duis dapibus vulputate lectus at pharetra.',
	tabs__fb : '#1',
	tabs__tw : '#2',
	tabs__p : '#3',
	tabs__letter : '#4',
	tabs__print : '#5',
	tab__mainimg: 'img/tab__img.jpg',
	tab__navimg: 'img/tab-link-img.jpg',
	price:	'$300,000'
},
{
id: 'tabs-2',
	name:	'The Lee',
	article : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque bibendum convallis. Sed sollicitudin purus sed tempus pharetra. Vivamus id felis luctus, iaculis arcu eu, adipiscing arcu. Donec gravida mi convallis volutpat aliquet. Duis dapibus vulputate lectus at pharetra.',
	tabs__fb : '#1',
	tabs__tw : '#2',
	tabs__p : '#3',
	tabs__letter : '#4',
	tabs__print : '#5',
	tab__mainimg: 'img/tab__img.jpg',
	tab__navimg: 'img/tab-link-img.jpg',
	price:	'$300,000'
},
{
	id: 'tabs-3',
	name:	'The Long Street',
	article : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque bibendum convallis. Sed sollicitudin purus sed tempus pharetra. Vivamus id felis luctus, iaculis arcu eu, adipiscing arcu. Donec gravida mi convallis volutpat aliquet. Duis dapibus vulputate lectus at pharetra.',
	tabs__fb : '#1',
	tabs__tw : '#2',
	tabs__p : '#3',
	tabs__letter : '#4',
	tabs__print : '#5',
	tab__mainimg: 'img/tab__img.jpg',
	tab__navimg: 'img/tab-link-img.jpg',
	price:	'$300,000'
},
{
	id: 'tabs-4',
	name:	'The Mosby',
	article : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque bibendum convallis. Sed sollicitudin purus sed tempus pharetra. Vivamus id felis luctus, iaculis arcu eu, adipiscing arcu. Donec gravida mi convallis volutpat aliquet. Duis dapibus vulputate lectus at pharetra.',
	tabs__fb : '#1',
	tabs__tw : '#2',
	tabs__p : '#3',
	tabs__letter : '#4',
	tabs__print : '#5',
	tab__mainimg: 'img/tab__img.jpg',
	tab__navimg: 'img/tab-link-img.jpg',
	price:	'$300,000'
},
{
	id: 'tabs-5',
	name:	'The Peckett',
	article : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque bibendum convallis. Sed sollicitudin purus sed tempus pharetra. Vivamus id felis luctus, iaculis arcu eu, adipiscing arcu. Donec gravida mi convallis volutpat aliquet. Duis dapibus vulputate lectus at pharetra.',
	tabs__fb : '#1',
	tabs__tw : '#2',
	tabs__p : '#3',
	tabs__letter : '#4',
	tabs__print : '#5',
	tab__mainimg: 'img/tab__img.jpg',
	tab__navimg: 'img/tab-link-img.jpg',
	price:	'$300,000'
},
{
	id: 'tabs-6',
	name:	'The Churchill1',
	article : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque bibendum convallis. Sed sollicitudin purus sed tempus pharetra. Vivamus id felis luctus, iaculis arcu eu, adipiscing arcu. Donec gravida mi convallis volutpat aliquet. Duis dapibus vulputate lectus at pharetra.',
	tabs__fb : '#1',
	tabs__tw : '#2',
	tabs__p : '#3',
	tabs__letter : '#4',
	tabs__print : '#5',
	tab__mainimg: 'img/tab__img.jpg',
	tab__navimg: 'img/tab-link-img.jpg',
	price:	'$300,000'
}
] 
%}