.slider
	overflow: hidden
.slide
	height: 843px
	+cover
.slick-prev, .slick-next
	color: black
	z-index: 999
	width: 24px	
	height: 37px
.slick-prev
	left: 25px
	&:before
		+s(prev)
.slick-next
	right: 25px
	&:before
		+s(next)
