.slider

.slide
	height: 843px
	+cover
.slick-arrow
	width: 24px
	height: 37px
	z-index: 222
	top: 43%
	&:before
		+coverdiv
		content: ''
	&:focus, &:hover
		&:before
			opacity: 0.75
	&:active
		&:before
			opacity: 1
.slick-prev
	left: 25px
	&:before
		+s(prev)
.slick-next
	right: 25px
	&:before
		+s(next)