.footer
	padding: 20px 0
	+rmin(1366)
		display: none
	+r(767)
		text-align: center
	.container
		+clr
	.logo2
		float: left
		+r(767)
			float: none
	.wrapper	
		float: right
		margin-top: 15px
		+r(767)
			float: none
	.contact-phone, .contact-mail, .socials
		display: block
		text-align: right
		+r(767)
			text-align: center
	.contact-mail
		margin-bottom: 10px
