.menu
	//margin-top: 150px
.menu__item
	a
		color: $menu-color
		font: 300 16px/2em $sans
		text-transform: uppercase
		transition: all .3s
.js-menu-active
	>a
		color: $menu-active-color
.sub-menu
	display: none
.sub-menu__item
	a
		font-size: 14px
		line-height: 1.6em
		text-transform: none
		font-style: italic