
.sidebar
	width: 310px
	text-align: center
	padding: 94px 0 40px
	background-color: #e0e1dc
	position: fixed
	left: 0
	height: 100%
	z-index: 222
.logo
	display: block
	width: 100px
	height: 100px
	+cover
	margin: 0 auto
.h1
	color: $green-dark
	font: 400 22px/0.9em 'Ultra', serif;
	letter-spacing: 12px
	margin-top: 20px
	display: inline-block
	text-align: center
	text-transform: uppercase
	position: relative
	right: -6px
	&:before, &:after
		+s(star)
		content: ''
		position: absolute
		top: 3px
	&:before
		left: -20px
	&:after
		right: -8px
	span
		font: 700 16px/1.25em "Open Sans", sans-serif
		color: $blue-light
