.sidebar
	width: 310px
	text-align: center
	padding: 6% 0 0px
	position: fixed
	background: #fff
	left: 0
	height: 100%
	z-index: 222
	+r(1499)
		padding: 30px 0 0px
	+r(1365)
		display: none
	.logo2
		margin-bottom: 30px
	.socials
		&:before
			content: ''
			position: absolute
			left: 50%
			transform: translateX(-50%)
			height: 1px
			width: 30px
			background-color: #57615a
			top: -15px
.sidebar__h1
	letter-spacing: 12px
	right: -6px
	&:after
		right: -8px
.sidebar__footer
	//position: relative
	//bottom: 10%
	position: absolute
	bottom: 35px
	left: 50%
	transform: translateX(-50%)
	z-index: 1
	+rh(900)
		bottom: 5px
	