$icons: (0:0)
$icons: map-merge($icons,('f': (X: -139px, Y:0px, W: 7px, H: 15px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('f2': (X: -108px, Y:-26px, W: 11px, H: 22px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook': (X: -108px, Y:-58px, W: 10px, H: 19px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook@2x': (X: 0px, Y:-47px, W: 20px, H: 38px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('letter': (X: -68px, Y:0px, W: 30px, H: 18px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('next': (X: 0px, Y:0px, W: 24px, H: 37px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('p': (X: -68px, Y:-28px, W: 23px, H: 23px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('prev': (X: -34px, Y:0px, W: 24px, H: 37px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('print': (X: -30px, Y:-47px, W: 26px, H: 26px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('star': (X: -24px, Y:-95px, W: 12px, H: 11px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('submit': (X: -108px, Y:0px, W: 21px, H: 16px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tw': (X: 0px, Y:-95px, W: 14px, H: 13px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('tw2': (X: -68px, Y:-61px, W: 23px, H: 20px, TW: 146px, TH: 108px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-f
//  width: 7px
//  height: 15px
//  background-image: url('../img/sprite.png')
//  background-position: -139px 0px
//
//.icon-f2
//  width: 11px
//  height: 22px
//  background-image: url('../img/sprite.png')
//  background-position: -108px -26px
//
//.icon-facebook
//  width: 10px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -108px -58px
//
//.icon-facebook@2x
//  width: 20px
//  height: 38px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -47px
//
//.icon-letter
//  width: 30px
//  height: 18px
//  background-image: url('../img/sprite.png')
//  background-position: -68px 0px
//
//.icon-next
//  width: 24px
//  height: 37px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-p
//  width: 23px
//  height: 23px
//  background-image: url('../img/sprite.png')
//  background-position: -68px -28px
//
//.icon-prev
//  width: 24px
//  height: 37px
//  background-image: url('../img/sprite.png')
//  background-position: -34px 0px
//
//.icon-print
//  width: 26px
//  height: 26px
//  background-image: url('../img/sprite.png')
//  background-position: -30px -47px
//
//.icon-star
//  width: 12px
//  height: 11px
//  background-image: url('../img/sprite.png')
//  background-position: -24px -95px
//
//.icon-submit
//  width: 21px
//  height: 16px
//  background-image: url('../img/sprite.png')
//  background-position: -108px 0px
//
//.icon-tw
//  width: 14px
//  height: 13px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -95px
//
//.icon-tw2
//  width: 23px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -68px -61px
//